In [6]:
openai_api_key = "Please add open ai api key at here"

# 1.Prepare Database

In [1]:
# from sqlite_database import prepare_database
import sqlite3
import pandas as pd

In [2]:
# Data for insertion
data = [
    (1, "2024-11-01", 80000, "Ăn uống", "Chi tiêu", "Tiền mặt", "Ăn sáng phở", "Hoàn tất", ""),
    (2, "2024-11-02", 150000, "Đi lại", "Chi tiêu", "Thẻ tín dụng", "Đổ xăng xe máy", "Hoàn tất", ""),
    (3, "2024-11-03", 200000, "Giải trí", "Chi tiêu", "Ví điện tử", "Mua vé xem phim", "Hoàn tất", ""),
    (4, "2024-11-04", 50000, "Ăn uống", "Chi tiêu", "Tiền mặt", "Uống cà phê", "Hoàn tất", ""),
    (5, "2024-11-05", 100000, "Học tập", "Chi tiêu", "Chuyển khoản", "Mua sách", "Hoàn tất", ""),
    (6, "2024-11-06", 120000, "Ăn uống", "Chi tiêu", "Thẻ tín dụng", "Ăn trưa cơm văn phòng", "Hoàn tất", ""),
    (7, "2024-11-07", 90000, "Đi lại", "Chi tiêu", "Tiền mặt", "Đi taxi", "Hoàn tất", ""),
    (8, "2024-11-08", 70000, "Ăn uống", "Chi tiêu", "Ví điện tử", "Mua trà sữa", "Hoàn tất", ""),
    (9, "2024-11-09", 200000, "Mua sắm", "Chi tiêu", "Thẻ tín dụng", "Mua quần áo", "Hoàn tất", ""),
    (10, "2024-11-10", 50000, "Ăn uống", "Chi tiêu", "Tiền mặt", "Ăn sáng bánh mì", "Hoàn tất", ""),
    (11, "2024-11-11", 150000, "Giải trí", "Chi tiêu", "Chuyển khoản", "Mua game online", "Hoàn tất", ""),
    (12, "2024-11-12", 80000, "Ăn uống", "Chi tiêu", "Ví điện tử", "Ăn tối bún chả", "Hoàn tất", ""),
    (13, "2024-11-13", 100000, "Đi lại", "Chi tiêu", "Thẻ tín dụng", "Mua vé xe buýt tháng", "Hoàn tất", ""),
    (14, "2024-11-14", 60000, "Ăn uống", "Chi tiêu", "Tiền mặt", "Uống sinh tố", "Hoàn tất", ""),
    (15, "2024-11-15", 200000, "Học tập", "Chi tiêu", "Chuyển khoản", "Đóng học phí", "Hoàn tất", ""),
    (16, "2024-11-16", 90000, "Ăn uống", "Chi tiêu", "Ví điện tử", "Mua bánh ngọt", "Hoàn tất", ""),
    (17, "2024-11-17", 150000, "Mua sắm", "Chi tiêu", "Thẻ tín dụng", "Mua đồ gia dụng", "Hoàn tất", ""),
    (18, "2024-11-18", 70000, "Ăn uống", "Chi tiêu", "Tiền mặt", "Ăn trưa bún bò", "Hoàn tất", ""),
    (19, "2024-11-19", 120000, "Giải trí", "Chi tiêu", "Chuyển khoản", "Mua sách truyện", "Hoàn tất", ""),
    (20, "2024-11-20", 50000, "Ăn uống", "Chi tiêu", "Ví điện tử", "Uống cà phê", "Hoàn tất", ""),
]

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect("personal_expenses.db")
cursor = conn.cursor()

# Create table
cursor.execute("""
CREATE TABLE IF NOT EXISTS expenses (
    transaction_id INTEGER PRIMARY KEY,
    date TEXT,
    amount INTEGER,
    category TEXT,
    type TEXT,
    payment_method TEXT,
    description TEXT,
    status TEXT,
    notes TEXT
)
""")

# Insert data into the table
cursor.executemany("""
INSERT INTO expenses (
    transaction_id, date, amount, category, type, payment_method, description, status, notes
) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
""", data)

# Commit and close connection
conn.commit()
conn.close()

print("Database and table created successfully. Data inserted.")

Database and table created successfully. Data inserted.

**Sample Data**

In [3]:
conn = sqlite3.connect("personal_expenses.db")
cursor = conn.cursor()

query = "SELECT * FROM expenses"
cursor.execute(query)
data = cursor.fetchall()

df = pd.DataFrame(data)
df.columns = ["transaction_id", "date ID", "amount", "category", "type", "payment_method", "description", "status", "note"]
df.head(5)

,transaction_id,date ID,amount,category,type,payment_method,description,status,note
0,1,2024-11-01,80000,Ăn uống,Chi tiêu,Tiền mặt,Ăn sáng phở,Hoàn tất,
1,2,2024-11-02,150000,Đi lại,Chi tiêu,Thẻ tín dụng,Đổ xăng xe máy,Hoàn tất,
2,3,2024-11-03,200000,Giải trí,Chi tiêu,Ví điện tử,Mua vé xem phim,Hoàn tất,
3,4,2024-11-04,50000,Ăn uống,Chi tiêu,Tiền mặt,Uống cà phê,Hoàn tất,
4,5,2024-11-05,100000,Học tập,Chi tiêu,Chuyển khoản,Mua sách,Hoàn tất,

# 2.Create SQL Agent

In [ ]:
!pip install langchain_community==0.3.13
!pip install langchain_openai==0.2.14

In [7]:
from langchain_community.agent_toolkits import create_sql_agent
from langchain_openai import ChatOpenAI
from langchain_community.utilities import SQLDatabase

# step 1. define model
llm = ChatOpenAI(model="gpt-3.5-turbo", temperature=0, api_key=openai_api_key)

# step 2. connect to db
db = SQLDatabase.from_uri("sqlite:///personal_expenses.db")

# Step 3. sql agent
agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools", verbose=True)

In [8]:
result = agent_executor.invoke("Cho tôi biết tổng chi tiêu ngày 11/1/2024 là bao nhiêu ? ")

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


expenses
Invoking: `sql_db_schema` with `{'table_names': 'expenses'}`



CREATE TABLE expenses (
	transaction_id INTEGER,
	date TEXT,
	amount INTEGER,
	category TEXT,
	type TEXT,
	payment_method TEXT,
	description TEXT,
	status TEXT,
	notes TEXT,
	PRIMARY KEY (transaction_id)
)

/*
3 rows from expenses table:
transaction_id	date	amount	category	type	payment_method	description	status	notes
1	2024-11-01	80000	Ăn uống	Chi tiêu	Tiền mặt	Ăn sáng phở	Hoàn tất
2	2024-11-02	150000	Đi lại	Chi tiêu	Thẻ tín dụng	Đổ xăng xe máy	Hoàn tất
3	2024-11-03	200000	Giải trí	Chi tiêu	Ví điện tử	Mua vé xem phim	Hoàn tất
*/
Invoking: `sql_db_query` with `{'query': "SELECT SUM(amount) AS total_expenses FROM expenses WHERE date = '2024-11-01'"}`


[(80000,)]Tổng chi tiêu ngày 11/1/2024 là 80,000 đồng.

> Finished chain.

In [9]:
result = agent_executor.invoke("Cho tôi biết tổng chi tiêu ngày trong tháng 11 ? ")

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


expenses
Invoking: `sql_db_schema` with `{'table_names': 'expenses'}`



CREATE TABLE expenses (
	transaction_id INTEGER,
	date TEXT,
	amount INTEGER,
	category TEXT,
	type TEXT,
	payment_method TEXT,
	description TEXT,
	status TEXT,
	notes TEXT,
	PRIMARY KEY (transaction_id)
)

/*
3 rows from expenses table:
transaction_id	date	amount	category	type	payment_method	description	status	notes
1	2024-11-01	80000	Ăn uống	Chi tiêu	Tiền mặt	Ăn sáng phở	Hoàn tất
2	2024-11-02	150000	Đi lại	Chi tiêu	Thẻ tín dụng	Đổ xăng xe máy	Hoàn tất
3	2024-11-03	200000	Giải trí	Chi tiêu	Ví điện tử	Mua vé xem phim	Hoàn tất
*/
Invoking: `sql_db_query` with `{'query': "SELECT SUM(amount) AS total_expenses FROM expenses WHERE date LIKE '2024-11%'"}`


[(2180000,)]Tổng chi tiêu ngày trong tháng 11 là 2,180,000 đồng.

> Finished chain.

In [10]:
result = agent_executor.invoke("Thống kê chi tiêu tháng 11 theo từng danh mục  ")

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


expenses
Invoking: `sql_db_schema` with `{'table_names': 'expenses'}`



CREATE TABLE expenses (
	transaction_id INTEGER,
	date TEXT,
	amount INTEGER,
	category TEXT,
	type TEXT,
	payment_method TEXT,
	description TEXT,
	status TEXT,
	notes TEXT,
	PRIMARY KEY (transaction_id)
)

/*
3 rows from expenses table:
transaction_id	date	amount	category	type	payment_method	description	status	notes
1	2024-11-01	80000	Ăn uống	Chi tiêu	Tiền mặt	Ăn sáng phở	Hoàn tất
2	2024-11-02	150000	Đi lại	Chi tiêu	Thẻ tín dụng	Đổ xăng xe máy	Hoàn tất
3	2024-11-03	200000	Giải trí	Chi tiêu	Ví điện tử	Mua vé xem phim	Hoàn tất
*/
Invoking: `sql_db_query` with `{'query': "SELECT category, SUM(amount) AS total_amount FROM expenses WHERE date LIKE '2024-11%' GROUP BY category"}`


[('Giải trí', 470000), ('Học tập', 300000), ('Mua sắm', 350000), ('Ăn uống', 720000), ('Đi lại', 340000)]The expenses for November are as follows:
- Giải trí: 470,000
- Học tập: 300,000
- Mua sắm: 350,000
- Ăn uống: 720,000
- Đi lại: 340,000

> Finished chain.